@import "../../variables";

.portfolio-root {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: scroll;
  height: 100%;
  position: relative;

  @media screen and (min-width: 600px) {
    padding-top: ($header-height__tablet * .45);
    padding-bottom: ($header-height__tablet * .45);
  }

  @media screen and (min-width: 768px) {
    height: calc(100vh - 97px);
  }

  &__container {
    width: ($base-width - 8%);
    margin: 0 auto;
    height: 100%;
    transition-property: margin-left, margin-right, width;
    transition-duration: .5s, .5s, .5s;

    @media screen and (min-width: 600px) {
      width: $base-width;
      &--pushed {
        margin-left: (calc(-400px + 6%));
        transition-property: margin-left, width;
        transition-duration: .5s, .5s;
      }
    }
  }

  @media screen and (min-width: 600px) {
    overflow: initial;
  }
}
