@import "../../variables";
@import "../../mixins/index";

.project-dashboard {
  height: 100%;
  font-family: "aktiv-grotesk";
  transition-property: background;
  transition-duration: .5s;

  &__image {
    width: 100%;

    @media screen and (min-width: 600px) {
      width: 90%;
      margin-left: -(((100% - $base-width) * .5) + 6%);
    }

    @media screen and (min-width: 768px) {
      margin-top: 5vh;
      margin-left: -(((100% - $base-width) * 1.5));
    }

    @media screen and (min-width: 768px) and (min-height: 800px) and (max-width: 1180px) {
      margin-top: 10vh;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 2vh;
    }
  }

  &__container {
    min-height: calc(100vh - 96px - 70px - 20px);
    overflow: scroll;
    width: 88%;
    margin: 0 auto;
    padding-top: $header-height-spacing;
    padding-bottom: $base-font-size;

    @media screen and (min-width: 600px) {
      padding-top: $header-height-spacing__tablet;
      overflow: initial;
      padding-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      @include row;
      justify-content: space-between;
      height: 60vh;
      min-height: 0px;
    }
  }
}
