@import "../../variables";

.device-image {
  height: 100%;
  width: 100%;
  position: relative;

  &__laptop {
    width: 100%;

    &__overlay {
      position: absolute;
      height: 70.4%;
      width: 67.85%;
      top: 5.2%;
      left: 15.5%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
