@import "../../variables";

.device-image {
  height: 100%;
  width: 100%;
  position: relative;

  &__laptop {
    width: 100%;

    &__overlay {
      position: absolute;
      height: 71.8%;
      width: 68.85%;
      top: 5.2%;
      left: 14.8%;

      @media screen and (min-width: 600px) {
        height: 72.8%;
      }

      @media screen and (min-width: 768px) {
        width: 68.45%;
        top: 1.5vw;
        height: 23.3vw;
      }
    }
  }
}
