@import "../../../../variables";

.social-links {
  width: 100%;
  margin-top: ($base-font-size * .25);

  &__container {
    padding-top: ($base-font-size * 1.5);
  }

  &__icon {
    margin-right: $base-font-size;
    font-size: ($base-font-size * 1.5);
  }
}
