@import "../../../variables";

.about-me__info {
  font-size: ($base-font-size * 1.125);
  padding-top: $base-font-size;
  padding-bottom: $base-font-size;

  @media screen and (min-width: 600px) {
    padding-bottom: 0;
    margin-left: ($base-font-size * 3);
    overflow: scroll;
  }

  &__title {
    font-size: ($base-font-size * 1.5);
    font-family: $alt-font-family;

    @media screen and (min-width: 600px) {
      font-size: ($base-font-size * 2);
    }
  }
}
