@import "../../../variables";

// I know this is not consistent with the rest of the codebase
// but I rarely touch my portfolio now so it's fine
.about-me__info-container {
  position: relative;
}

.about-me__info {
  font-size: ($base-font-size * 1.125);
  padding-top: $base-font-size;
  padding-bottom: $base-font-size;

  @media screen and (min-width: 600px) {
    padding-bottom: 0;
    margin-left: ($base-font-size * 3);
    overflow: scroll;
  }

  &__title {
    font-size: ($base-font-size * 1.5);
    font-family: $alt-font-family;

    @media screen and (min-width: 600px) {
      font-size: ($base-font-size * 2);
    }
  }

  &__body {
    font-size: 20px;
    height: 300px;
  }

  &__bottom-blur {
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    bottom: 0;
    height: 40px;
    left: ($base-font-size * 3);
    position: absolute;
    width: 100%;
  }
}
