@import "../../variables";

.logo {
  position: absolute;
  left: 0;
  top: ($header-height - 15px);
  height: calc(338px - ((77px * 2) + 40px));
  width: 52%;
  padding: $base-font-size;
  opacity: .9;

  @media screen and (min-width: 600px) {
    height: calc(55% - 60px);
    bottom: ($base-font-size * 4.4);
    right: ($base-font-size * 4.4);
    width: 365px;
    padding: ($base-font-size * 1.5);
  }

  &__image {
    height: 72px;
    margin: 0 auto;

    @media screen and (min-width: 600px) {
      height: 106px;
    }
  }

  &__title {
    margin: 0;
    font-family: $alt-font-family;
    text-align: center;

    @media screen and (min-width: 600px) {
      font-size: ($base-font-size * 1.5);
    }
  }
}
