@import "../../variables";
@import "../../mixins/index";

.project-dashboard {
  height: 100%;

  &__image {
    height: 20%;
    width: 100%;
    position: relative;

    @media screen and (min-width: 600px) {
      width: 90%;
      margin-left: -(((100% - $base-width) * .5) + 6%);
    }

    @media screen and (min-width: 768px) {
      margin-left: -(((100% - $base-width) * .5) + 4%);
    }
  }

  &__laptop {
    width: 100%;

    &__overlay {
      position: absolute;
      height: 70.4%;
      width: 67.85%;
      top: 5.2%;
      left: 15.5%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}

.project-dashboard__container {
  height: calc(100% - $header-height-spacing);
  overflow: scroll;
  width: 88%;
  margin: 0 auto;
  padding-top: $header-height-spacing;

  @media screen and (min-width: 600px) {
    padding-top: $header-height-spacing__tablet;
    overflow: initial;
  }

  @media screen and (min-width: 768px) {
    @include row;
    justify-content: space-between;
  }
}
