@import "../../variables";

.header {
  top: 0;
  left: 0;
  margin: 0;
  height: $header-height;
  width: 100%;
  position: fixed;
  background: white;
  opacity: .81;
  z-index: 10;

  @media screen and (min-width: 600px) {
    height: ($header-height__tablet);
  }

  &__container {
    margin: ($header-height * .275) auto 0;
    font-size: $base-font-size;
    font-weight: bold;
    width: ($base-width - 8%);
    height: 100%;

    @media screen and (min-width: 600px) {
      width: 93.7%;
    }

    @media screen and (min-width: 768px) {
      font-size: ($base-font-size * 1.25);
      width: $base-width;
    }
  }

  &__line {
    height: 8px;
  }

  &__name {
    height: 0;
    font-family: $alt-font-family;
    line-height: $base-line-height - .4;
    max-width: 100px;

    @media screen and (min-width: 600px) {
      line-height: $base-line-height;
      font-size: ($base-font-size * 1.25);
      max-width: 500px;
    }
  }

  &__vertical-line {
    background: $base-black;
    width: 1px;
    height: ($base-font-size * 2);
  }
}
