@import "../../variables";

.header {
  top: 0;
  left: 0;
  margin: 0;
  height: $header-height;
  width: 100%;
  position: absolute;
  background: white;
  opacity: .81;

  @media screen and (min-width: 600px) {
    height: ($header-height__tablet);
  }

  &__container {
    margin: ($base-font-size * .625) auto 0;
    font-size: $base-font-size;
    font-weight: bold;
    width: 87%;
    height: 100%;

    @media screen and (min-width: 600px) {
      width: 93.7%;
    }

    @media screen and (min-width: 768px) {
      width: $base-width;
    }
  }

  &__line {
    width: 100%;
    background: black;
    height: 8px;
    margin: 0;
    border: none;
  }

  &__name {
    font-family: $alt-font-family;
    font-size: ($base-font-size * 1.25);
    max-width: 100px;

    @media screen and (min-width: 600px) {
      max-width: 500px;
    }
  }
}
