@import "../../variables";

.side-bar {
  background: white;
  height: calc(100% - 70px);
  position: fixed;
  right: 0;
  top: $header-height;
  transition-property: width, background;
  transition-duration: .5s, .5s;
  transition-timing-function: ease, cubic-bezier(0.42, 0.0, .8, 1.0);
  width: 15px;
  z-index: 3;

  @media screen and (min-width: 600px) {
    width: 34px;
    height: 100%;
    top: $header-height__tablet;
  }

  @media screen and (min-width: 768px) {
    height: 100%;
  }

  &--showing {
    width: 100%;
    background: white;

    @media screen and (min-width: 600px) {
      max-height: 100%;
      width: 400px;
    }
  }
}
