@import "../../../variables";

.project-page__info {
  width: 66%;

  &__description {
    font-family: $alt-font-family;
    font-size: ($base-font-size * 1.5);
    line-height: ($base-line-height - .2);
    margin-bottom: ($base-font-size * 1.7);
  }

  &__carousel {
    margin: ($base-font-size * 2) 0 ($base-font-size * 2.4);
  }
}
