@import "../../variables";

.menu-bar {
  margin-top: ($base-font-size * .15);

  &:hover {
    cursor: pointer
  }

  &__title {
    margin-right: ($base-font-size * .5);
  }

  &__icon {
    width: 20%;
    margin-top: -15px;
  }
}
