@import "../../variables";

.menu-bar {
  font-weight: light;
  margin-top: ($base-font-size * .15);

  &:hover {
    cursor: pointer
  }

  &__title {
    margin-right: ($base-font-size * .5);
  }

  &__hamburger {
    margin-top: -15px;
    font-weight: bold;
    font-size: ($base-font-size * 1.5);
    text-transform: capitalize;
  }
}
