@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin link {
  font-weight: bold;
  font-family: $base-font-family;

  &:hover {
    cursor: pointer
  }
}
