@import "../../../variables";

.project-page__side-panel {
  height: 100%;
  width: 28%;

  &__lines {
    width: 100%;
    height: $base-font-size;
    margin-top: ($base-font-size * 1.5);
  }

  &__line {
    height: 1px;
    background: $base-black;
    border: none;
    margin: 0;
    width: 100%;
  }
}
