@import "~normalize.css";
@import "./variables";
@import "./mixins/index";

html,
body,
.main,
.app {
  min-height: 100%;
  width: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-black;
  line-height: $base-line-height;

  @media screen and (max-width: 600px) {
    min-height: 100vh;
  }
}

.row-between {
  @include row;
  justify-content: space-between;
}

.row-end {
  @include row;
  justify-content: flex-end;
}

.row-start {
  @include row;
  justify-content: flex-start;
}

.row-center {
  @include row;
  justify-content: center;
}

.column-between {
  @include column;
  justify-content: space-between;
}

.column-start {
  @include column;
  justify-content: flex-start;
}

.column-center {
  @include column;
  justify-content: center;
}

p {
  margin: 0 0 ($base-spacing * .5);
}

a {
  color: $base-black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

.button {
  width: 191px;
  height: ($base-font-size * 1.80);
  color: white;
  background: $base-black;
  font-family: $base-font-family;
  padding-top: ($base-font-size * .25);
  border-radius: 3% / 15%;
  letter-spacing: 1px;

  &__text {
    margin: 0;
  }
}

.line {
  background: $base-black;
  border: none;
  margin: 0;
  width: 100%;
}

.mobile {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.desktop {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.background-image {
  background: $base-gray;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
