@import "../../variables";

.header {
  top: 0;
  left: 0;
  margin: 0;
  height: $header-height;
  width: 100%;
  position: absolute;
  background: white;
  opacity: .81;

  @media screen and (min-width: 600px) {
    height: ($header-height__tablet);
  }

  &__container {
    margin: 22px auto 0;
    font-size: 24px;
    font-weight: bold;
    width: 87%;
    height: 100%;

    @media screen and (min-width: 600px) {
      width: 93.7%;
    }
  }

  &__line {
    width: 100%;
    background: black;
    height: 8px;
    margin: 0;
    border: none;
  }

  &__menu {
    margin-top: 12px;
    min-width: 120px;

    &:hover {
      cursor: pointer
    }
  }

  &__name {
    max-width: 100px;

    @media screen and (min-width: 600px) {
      margin-top: 12px;
      max-width: 500px;
    }
  }
}

i.fa-bars {
  font-size: 36px;
  margin-top: -3px;
  color: black;
}
