@import "../../variables";

.active {
  font-weight: bold;
}

.side-bar {
  position: absolute;
  height: 100%;
  width: 0;
  overflow: scroll;
  background: white;
  top: $header-height;
  right: 0;
  visibility: hidden;
  z-index: 2;
  animation-name: slide-out-mobile;
  transition-property: visibility, width;
  transition-duration: .5s, .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 600px) {
    width: 60%;
    animation-name: slide-out-tablet;
  }

  &__container {
    height: 100%;
    width: $base-width;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  &--showing {
    width: 100%;
    visibility: visible;
    animation-name: slide-mobile;
    transition-property: width;
    transition-duration: .2s;
    animation-fill-mode: both;

    @media screen and (min-width: 600px) {
      animation-name: slide-tablet;
    }
  }

  &__project {
    margin-bottom: 20px;

    &:hover {
      font-weight: bold;
    }
  }
}

@-webkit-keyframes slide-out-mobile {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes slide-mobile {
  from {
    left: 100%
  }
  to {
    left: 0
  }
}

@-webkit-keyframes slide-out-tablet {
  from {
    right: 0
  }
  to {
    right: -60%;
  }
}

@-webkit-keyframes slide-tablet {
  from {
    right: -60%;
  }
  to {
    right: 0;
  }
}
