@import "../../variables";

.active {
  font-weight: bold;
}

.side-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  top: $header-height;
  right: 0;
  display: none;
  z-index: 2;

  &__container {
    width: $base-width;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  &--showing {
    display: block;
  }

  &__project {
    margin-bottom: 20px;

    &:hover {
      font-weight: bold;
    }
  }
}
